# Exploratory Data Analysis

This notebook explores synthetic daily hospital capacity data.

In [1]:
print("Hello, hospital data!")

Hello, hospital data!

In [2]:
import pandas as pd
data = pd.DataFrame({
    "day":range(1,11),
    "admissions":[42, 38, 55, 60, 47, 30, 28, 65, 58, 40],
    "avg_length_of_stay":[4.2, 4.0, 4.8, 5.1, 4.3, 3.9, 3.8, 5.2, 4.9, 4.1],
    "available_beds":[160]*10
})

data

   day  admissions  avg_length_of_stay  available_beds
0    1          42                 4.2             160
1    2          38                 4.0             160
2    3          55                 4.8             160
3    4          60                 5.1             160
4    5          47                 4.3             160
5    6          30                 3.9             160
6    7          28                 3.8             160
7    8          65                 5.2             160
8    9          58                 4.9             160
9   10          40                 4.1             160